<section *ngIf="title">

    <div class="jumbotron bg-{{title.id}}" id="index-top" [ngStyle]="{'background': 'transparent url(' + title.headerimg + ') no-repeat center center'}">
      <div class="container">          
        <header class="col-md-6">
          <h1>{{ title.name }}</h1>
        </header>                   
      </div>
    </div>
    
    <div class="container title-detail">
        <div class="row row-primary">
            <div class="col-md-3 title-detail thumb"><img src="./assets/img/titles/{{title.id}}-thumb.jpg" /></div>
            <div class="col-md-9 title-detail summary">
              <h3>{{title.logline}} <span>Rating: {{title.rating}}</span></h3>
            	<p class="summary">{{title.summary}}</p>
              <p>
                <a class="btn btn-primary btn-lg" href="{{title.link}}" *ngIf="title.link; else comingsoon">Read Now</a>
                <ng-template #comingsoon><span class="comingsoon-txt">{{title.status}}</span></ng-template>
              </p>
            </div>
        </div>
    </div>
    
    <div class="mailchimp-form">
        <div class="row row-primary">
          <p style="margin: 0 auto;">
            <a class="btn btn-primary btn-lg" href="/titles">other titles</a>
          </p>
        </div>
    </div>
    
</section>