<!-- Top Header for Mobile Devices -->
<nav class="navbar fixed-top">
  <div class="container">
    
    <div class="col-9">
      <h1 class="sr-only">NaoBun Project</h1>            
      <a class="navbar-brand" href="/"><img src="assets/img/logo.png"></a>
    </div>

    <div class="language-select col-3">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span><i class="fas fa-language" data-fa-transform="grow-15" aria-hidden="true"></i> | <span class="sr-only">Language Select</span></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">English</a>
          <a class="dropdown-item" href="#">Bahasa Indonesia</a>
          <a class="dropdown-item" href="#">日本語</a>
          <a class="dropdown-item" href="#">한국어</a>
          <a class="dropdown-item" href="#">Français</a>
          <a class="dropdown-item" href="#">Deustch</a>
        </div>
      </div>          
    </div>
  </div>
</nav>

<!-- Bottom Navigation -->
<nav class="navbar fixed-bottom navbar-mobile">
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-rocket" data-fa-transform="grow-12" aria-hidden="true"></i><br /><b>Titles</b><div class="underline"></div></a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-child" data-fa-transform="grow-12" aria-hidden="true"></i><br /><b>Creators</b><div class="underline"></div></a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-comments" data-fa-transform="grow-12" aria-hidden="true"></i><br /><b>Meet-ups</b><div class="underline"></div></a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-plus" data-fa-transform="grow-12" aria-hidden="true"></i><br /><b>More</b><div class="underline"></div></a></li>
  </ul>
</nav>