<section class="jumbotron jumbotron-primary" id="index-top">
  <div class="container">          
    <header class="col-md-6">
      <h1>Empowering Creators to Speak Up through Comics</h1>
    </header>
    <div class="col-md-4 landing-text float-bottom">
      <p>
        The NaoBun Project is a diversity-aware creators agency that strives to empower young,
        emerging talents to speak up about the change they want to see in the world
        through the creation of progressive comics and other innovative, cause-driven content.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="#">Our Titles &raquo;</a>
        <a class="btn btn-primary btn-lg" href="#">Our Creators &raquo;</a>
      </p>
    </div>                    
  </div>
</section>