<!-- Header -->
<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <h1 class="sr-only">NaoBun Project</h1>            
    <a class="navbar-brand" href="/"><img src="assets/img/logo.png"></a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarLinks">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarLinks">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home" aria-hidden="true"></i> Home<div class="underline"></div></a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/titles"><i class="fas fa-rocket" aria-hidden="true"></i> Titles<div class="underline"></div></a></li>
        <li class="nav-item"><a class="nav-link" href="/creators"><i class="fas fa-child" aria-hidden="true"></i> Creators<div class="underline"></div></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-comments" aria-hidden="true"></i> Meet-ups<div class="underline"></div></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-tv" aria-hidden="true"></i> Videos<div class="underline"></div></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-shopping-cart" aria-hidden="true"></i> Shop<div class="underline"></div></a></li>
        <li class="nav-item"><a class="nav-link" href="https://medium.com/naobun-blog/" target="_blank"><i class="fas fa-align-left" aria-hidden="true"></i> Blog<div class="underline"></div></a></li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-secondary navbar-expand-lg">
  <div class="container">
      <div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="https://instagram.com/NaoBunProject"><i class="fab fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/NaoBun-Project-1145525432178608s"><i class="fab fa-facebook" aria-hidden="true"></i><span class="sr-only">Facebook</span></a></li>
            <li class="nav-item"><a class="nav-link" href="https://twitter.com/NaoBunProject"><i class="fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/channel/UC4J3D8o3_eOcQVti6pJPGEg"><i class="fab fa-youtube" aria-hidden="true"></i><span class="sr-only">YouTube</span></a></li>
            <li class="nav-item"><a class="nav-link" href="https://medium.com/naobun-blog/"><i class="fab fa-medium" aria-hidden="true"></i><span class="sr-only">Medium</span></a></li>
          </ul>
        </div>

        <div class="language-select pull-right">
          <div class="btn-group">
              <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span><i class="fas fa-language" data-fa-transform="grow-12 down-3" aria-hidden="true"></i> | <span class="sr-only">Language Select</span></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">English</a>
              <a class="dropdown-item" href="#">Bahasa Indonesia</a>
              <a class="dropdown-item" href="#">日本語</a>
              <a class="dropdown-item" href="#">한국어</a>
              <a class="dropdown-item" href="#">Français</a>
              <a class="dropdown-item" href="#">Deustch</a>
            </div>
          </div>          
        </div>
  </div>
</nav>