<div class="container main-menu">

  <header>
    <h3>See the World through <b>Different</b> Eyes</h3>
    <hr />
  </header>

  <div class="row row-primary">
    
    <section class="col-sm col-primary">
      <div class="row row-primary-image">
        <h3>Explore our Titles</h3>
      </div>
      <div class="row row-primary-explainer">
        <p>
          NaoBun Project features over a dozen upcoming creator-owned titles whose license it
          manages—plus a few you can already read online.
        </p>
        <a class="btn btn-primary btn-lg" href="#">GO &raquo;</a>
      </div>
    </section>
    
    <section class="col-sm col-secondary">
      <div class="row row-secondary">
        <div class="col col-img" id="topImg">
          <h3>Talents</h3>
        </div>
        <div class="col col-exp" id="topExp">
          <p>
            Meet the strong female-driven cast who come from backgrounds as diverse as their art styles.
          </p>
           <a class="btn btn-primary btn-lg" href="#">GO &raquo;</a>
          </div>
      </div>
      <div class="row row-secondary">
        <div class="col col-exp" id="ctrExp">
          <p>
            Find out and participate in the next inspiring talk session from the talents of NaoBun Project.
          </p>
          <a class="btn btn-primary btn-lg" href="#">GO &raquo;</a>
        </div>
        <div class="col col-img" id="ctrImg">
          <h3>Talks</h3>
        </div>
      </div>
      <div class="row row-secondary">
        <div class="col col-img" id="endImg">
          <h3>Television</h3>
        </div>
        <div class="col col-exp" id="endExp">
          <p>
            Watch the latest videos from NaoBun TV, bringing you pop culture analysis from the creative industry.
          </p>
          <a class="btn btn-primary btn-lg" href="#">GO &raquo;</a>
        </div>
      </div>  
    </section>

    <hr />
  
  </div>
</div>