<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 hidden-xs hidden-sm">
        <img class="footer-img" src="../assets/img/running.png">
      </div>          
      <div class="col-md-4 hidden-xs hidden-sm">     	      	
        <img class="rsdf-logo" src="../assets/img/rsdf-logo.png">
        <p>
          The NaoBun Project is a subsidiary of <a href="http://rambatansaddhadhika.co.id/" target="_blank">Rambatan Saddhadhika Design Firm</a> and can be reached at the following address:
        </p>  
        <p>
          Sudirman Plaza, Plaza Marein 23F <br/>
          Jl. Jenderal Sudirman Kav. 76-78 <br/>
          South Jakarta 12910, INDONESIA
        </p>
        <p>
          General Enquiries:<br/>
          <a href="mailto:hello@naobunproject.id">hello@naobunproject.id</a>
        </p>
        <br />
      </div>
      <div class="col-md-3 links">          	          	
        <h3>Around the Web</h3>
        <p><a href="#" target="_blank">LINE Webtoon</a></p>
        <p><a href="#" target="_blank">CIAYO Comics</a></p>
        <hr />
        <p><a href="https://instagram.com/NaoBunProject" target="_blank">Instagram</a></p>
        <p><a href="https://www.facebook.com/NaoBun-Project-1145525432178608s" target="_blank">Facebook</a></p>
        <p><a href="https://twitter.com/NaoBunProject" target="_blank">Twitter</a></p>
        <p><a href="https://www.youtube.com/channel/UC4J3D8o3_eOcQVti6pJPGEg" target="_blank">YouTube</a></p>
        <p><a href="https://medium.com/naobun-blog/" target="_blank">Medium</a></p>          	
      </div>
      <div class="col-md-3 links">          	
        <h3>Contacts &amp; Partnerships</h3>
        <p><a href="#" target="_blank">IP Management &amp; Licensing Deals</a></p>
        <p><a href="#" target="_blank">IP Management Consulting</a></p>
        <p><a href="#" target="_blank">Non-profit Campaign Partnerships</a></p>
        <p><a href="#" target="_blank">Educational Outreach</a></p>
        <hr />
        <h3>Career Opportunities</h3>       	
        <p><a href="#" target="_blank">Join as Creative Talent</a></p>
        <p><a href="#" target="_blank">Explore Corporate Careers</a></p>
      </div>
    </div>
  </div>       
</footer>